body {
  background-color: #f3f3f3;
  font-family: Arial, Helvetica, sans-serif;
}
.parent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin: 30px 15px 0 15px;
}

.parent .card {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5x;
  box-shadow: 0px 0px 5px 1px #33333354;
  -webkit-border-radius: 6px;
  -moz-border-radius: 5x;
  -ms-border-radius: 5x;
  -o-border-radius: 5x;
  -o-border-radius: 5x;
}
.parent .card h3 {
  font-size: 1.5rem;
  margin: 0;
  color: #009688;
}
